#wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 49% 49%;
  gap: 10px;
  margin: 10px;

  #settings {
    grid-column: 1 / 3;
    grid-row: 1;

    .input {
      margin: 2px 5px;

      input {
        margin-left: 5px;

        &[type=number] {
          width: 50px;
        }
      }

      &#webhook {
        input {
          width: 600px;
        }
      }
    }
  }

  .bookieState {
    float: left;
    min-height: 158px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 4px;

    button {
      margin: 2px;
    }

    &#bet365State {
      grid-column: 1;
      grid-row: 2;
    }

    &#betfairState {
      grid-column: 2;
      grid-row: 2;
    }

    .accordion-body {
      max-height: 75vh;
      overflow: auto;
    }
  }

  #combinedData {
    clear: both;
    padding: 4px;
    grid-column: 1 / 3;
    grid-row: 3;
    border: 1px solid #ccc;
  }
}